.power {
  background-color: var(--bg-power-outer);
  height: 90%;
  aspect-ratio: 1;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.power-btn {
  height: 80%;
  width: 80%;
  background-color: var(--bg-power-btn);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.power-icon {
  width: 60%;
  height: 60%;
  border: 0.8vw solid white;
  border-radius: 50%;
  border-top-color: transparent;
  position: relative;
  display: inline-block;
}

.power-icon::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 0.8vw;
  height: 50%;
  background-color: white;
  border-radius: 30%;
}
