body {
  margin: 0;
  padding: 0;
  background-color: green;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 9vw;
  background-color: whitesmoke;
}

.header {
  background-color: lightslategrey;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 60% 65%, 55% 100%, 45% 100%, 40% 65%, 0% 65%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.timer {
  height: 65%;
  justify-self: start;
  display: flex;
  align-items: center;
  margin-left: 1vw;
  font-size: 2vw;
}

.mode {
  height: 65%;
  justify-self: right;
  display: flex;
  align-items: center;
  margin-right: 1vw;
  font-size: 2vw;
}

.power {
  justify-self: center;
  align-self: center;
  font-size: 2vw;
}

main {
  background-color: whitesmoke;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apps {
  background-color: yellow;
  margin: 6rem auto auto auto;
  width: fit-content;
  max-width: 80vw;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.app {
  background-color: burlywood;
  min-width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icon {
  background-color: black;
  width: 10rem;
  height: 10rem;
}
